extends layout

block content
  h1= title
  div.container
    div#url-test.alert
    p Fish a Phish! Check url for phishing and malware
    div(data-role='controlgroup').form-group
        form#urlform
            div.input-group.input-group-lg
                span.input-group-addon URL
                input(id='url',type='text',value='',placeholder='http://',name='url',onfocus='this.select();').form-control
            div.input-group.input-group-lg
                input(type='submit',value='Check URL',data-transition='fade', data-theme='c').btn.btn-primary.btn-lg#checkUrlBtn
